body {
    background:#ffffff;
    padding-top: 25vh;
}
form{
    background: #fff;
}
.form-container{
    border-radius: 5px;
    padding: 35px; 
    box-shadow: 0px 0px 10px 0px;
    height: 25rem;
    max-height: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;

color: rgba(14, 14, 14, 0.7);
}
.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.btn-sm{
    width: 75%;
}
.btn-default{
    background: #ffffff;
    color: #000000;
    border-color: #a6a2a2;
}
.btn-default:hover{
    background: #1b2fe2;
    color: #ffffff;
}
.signInLabel{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: rgba(14, 14, 14, 0.7);
    padding: 0 0 20px 0;
}
.emailGroup{
    padding: 0 0 12px 0;
}
.passwordGroup{
    padding: 0 0 12px 0;
}
#inputEmail1{
    height: 2rem;
}
#inputPassword1{
    height: 2rem;
}
.navbar {
    background: #C4C4C4;
    height: 4rem;
}
.akadLabel{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.15em;
}