
/* ------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------*/


* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, "Sans-serif";

}

/* ------------------------------------*/
/* SIGN UP */
/* ------------------------------------*/

/* header {
    height: 110px;
    background: #C4C4C4;
    width: 100%;
    line-height: 110px;
    padding: 0 0 0 29px;
}

.header-text {
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 55px;
    letter-spacing: 0.15em;
    vertical-align: middle;
} */

.signup-form {
    width: 60%;
}

.signup-header-text {
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.sign-up-div {
	/* max-width: 690px; */
    margin: 0 auto;
    /* border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 8px; */
    margin-top: 50px;
    padding-top: 25px;
}

.signupSubmit {
    border: 1px solid #C6C6C6;
    border-radius: 7px;
    background-color: #fff;
    padding: 6px;
    width: 45%;
    margin-top: 20px;
}


/* ------------------------------------*/
/* DASHBOARD */
/* ------------------------------------*/

.dashboard-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: block;
    margin-bottom: 20px;
}

.reminder-div {
    float: right;
    padding: 30px;
    width: 100%;
    overflow: scroll;
    height: 100vh;
}

.reminder {
    background-color: #EB7D7D;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    color: #fff;
    margin: 0 35px 35px 0;
    padding: 15px;
}

.reminder-count {
    display: block;
    font-size: 39px;
    font-style: italic;
    font-weight: 500;
    line-height: 46px;
}

.reminder-text {
    font-size: 25px; 
}

.classroomTable, .activityTable {
    border: 1px solid #EBEBEB;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    padding: 30px 10px;
    margin: 0 0 35px 0;
}

.table-title {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.activityTable .table-striped thead tr {
     background-color: #f9f9f9;
}
.activityTable .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}
.activityTable .table-striped>tbody>tr:nth-child(even)>td {
    background-color: #f9f9f9;
}

.addClassroomRow, .addActivityRow {
    color: #27AE60;
}

.iconAdd {
    height: 23px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #27AE60;
    display: inline-block;
    padding: 0px 0px 0px 6px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}










